.action-button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.action-button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.header {
  background-color: #fff;
  width: 100vw;
  height: 64px;
}
.header__button {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  margin-left: 15px;
  width: 48px;
  height: 48px;
}
.logo__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-left: 13px;
}
.logo__description {
  display: none;
}
.logo__line {
  widows: 1px;
  height: 64px;
  border-right: 1px solid #000000;
  mix-blend-mode: normal;
  opacity: 0.15;
  margin-left: auto;
}
.logo__menu-pic {
  margin: 26px 20px 25px 20px;
}

.nav {
  display: none;
}
@media screen and (min-width: 1400px) {
  .page {
    width: 1400px;
  }

  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
    width: 1400px;
    margin: 0 auto;
  }

  .logo {
    flex-grow: 1;
    display: flex;
  }
  .logo__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
  }
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-left: 0;
  }
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    opacity: 0.6;
    display: block;
  }
  .logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo__menu-pic {
    display: none;
  }
  .logo__line {
    display: none;
  }

  .header {
    width: 1140px;
    height: 62px;
    display: flex;
    margin: auto;
    background-color: transparent;
  }
  .header__button {
    display: block;
  }

  .nav {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-right: 75px;
  }
  .nav__item {
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
    color: #2b292d;
  }
  .nav__item:last-child {
    margin: 0;
  }
  .nav__item-selected {
    font-weight: 700;
  }
  .nav__arrow {
    background-image: url(img/arrow.png);
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
  }
}
.action-button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.headline {
  background-color: #f3c6bd;
  padding-bottom: 36px;
}
.headline__title {
  margin-bottom: 24px;
  margin-top: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}
.headline__button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.headline__learn-more-btn {
  width: 100%;
  height: 48px;
  background-color: #fff;
  font-size: 18px;
  line-height: 13px;
  color: #3040c4;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.headline__banner {
  max-width: 100%;
  margin: auto;
  display: block;
}

.headline-container {
  padding: 35px 15px 36px 15px;
}

@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 76px;
    padding-bottom: 0;
  }
  .headline__banner {
    width: 796px;
    height: 448px;
    top: 7px;
    right: -105px;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    margin-bottom: 77px;
  }
  .headline__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    width: 754px;
    height: 165px;
    z-index: 1;
    margin: 0;
  }
  .headline__description {
    margin-top: 34px;
    height: 102px;
    width: 456px;
    margin-bottom: 0;
  }
  .headline__btns {
    margin-top: 58px;
    display: flex;
  }
  .headline__learn-more-btn {
    width: 158px;
    margin-left: 10px;
  }
  .headline__button {
    width: 160px;
  }

  .headline-container {
    position: absolute;
    z-index: 1;
    padding-top: 0;
    padding-left: 0;
  }
}
.about {
  padding: 46px 15px;
  background-color: #f4f5f7;
}

.article__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 6px;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text-first {
  margin-bottom: 20px;
}

@media screen and (min-width: 1400px) {
  .about {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }

  .article {
    width: 555px;
  }
  .article__text {
    margin: 6px 0 0 0;
  }
  .article__text-first {
    margin-bottom: 0px;
  }
}
.customers {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
}
.customers__container {
  display: flex;
  height: 94px;
  width: 107px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}
.customers__line {
  display: flex;
}

@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
  }
  .customers__logo {
    filter: brightness(0);
    max-width: 100%;
  }
  .customers__line {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
  }
  .customers__container {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .customers-bottom {
    padding-bottom: 76px;
  }
}
.features-mobile {
  width: 100vw;
  padding: 48px 0 50px 0;
}
@media screen and (min-width: 1400px) {
  .features-mobile {
    display: none;
  }
}
.features-mobile__container {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 40px;
}
.features-mobile__container:nth-last-child(1) {
  margin: 0;
  border-bottom: none;
}
.features-mobile__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
  margin-bottom: 17px;
}
.features-mobile__subtitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
  margin: 0;
  margin-bottom: 15px;
}
.features-mobile__text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}
.features-mobile__image {
  display: block;
  margin: auto;
  margin-bottom: 19px;
  max-width: 100%;
}
.features-mobile__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0.6;
  flex-wrap: nowrap;
}
.features-mobile__figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.features-desktop {
  display: flex;
  width: 1400px;
  margin: auto;
  position: relative;
  margin-bottom: 103px;
}
.features-desktop__content {
  width: 1140px;
  display: flex;
  margin: auto;
}
.features-desktop__column {
  width: 459px;
}
.features-desktop__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features-desktop__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features-desktop__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.features-desktop__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features-desktop__advantage-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features-desktop__advantage-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features-desktop__advantage-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features-desktop__advantage-item-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features-desktop__left-img {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features-desktop__banner {
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
}
@media screen and (max-width: 1399px) {
  .features-desktop {
    display: none;
  }
}

.inbox {
  width: 100vw;
  background-color: #fcf0e366;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .inbox {
    width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}
.inbox__img {
  max-width: 100%;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .inbox__img {
    width: 425px;
    height: 510px;
    margin-left: 193px;
    margin-right: 192px;
    margin-top: 142px;
    margin: 142px 192px 0 193px;
  }
}
.inbox__figure {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 1400px) {
  .inbox__figure {
    flex-direction: column;
    text-align: center;
    margin-bottom: 101px;
  }
}
.inbox__caption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__caption {
    display: block;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.6;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__right-side {
    height: 790px;
  }
}
.inbox__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
  margin: 0;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    margin-top: 115px;
    margin-bottom: 24px;
  }
}
.inbox__subtitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    width: 462px;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }
}
.inbox__text {
  font-size: 24px;
  line-height: 34px;
  height: 205px;
  margin-bottom: 30px;
  height: 205px;
}
@media screen and (min-width: 1400px) {
  .inbox__text {
    width: 461px;
    height: 102px;
    margin-right: 129px;
    margin-bottom: 44px;
  }
}

.inbox-container {
  padding: 30px 20px;
  border-bottom: 4px #0185d0 solid;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .inbox-container {
    margin-right: 99px;
    width: 512px;
  }
}
.inbox-container__description {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 26px;
}

.comment-autor {
  display: flex;
}
.comment-autor__avatar {
  margin-right: 11px;
  height: 40px;
  width: 40px;
}
.comment-autor__info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 22px;
}
.comment-autor__info-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
.comment-autor__info-post {
  opacity: 0.6;
}

.communication {
  width: 100vw;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    width: 1400px;
    margin: auto;
    padding: 110px 130px 110px 126px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__main {
    display: flex;
  }
}
.communication__figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communication__img {
  max-width: 100%;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .communication__img {
    width: 425px;
    height: 426px;
  }
}
.communication__caption {
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__caption {
    margin-bottom: 26px;
  }
}
.communication__line {
  border-bottom: 1px solid black;
  opacity: 0.1;
  width: 150px;
  margin-bottom: 33px;
}
@media screen and (min-width: 1400px) {
  .communication__info {
    display: flex;
  }
}
.communication__info-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #3040c4;
  display: block;
  margin-top: 10px;
}
.communication__info-item {
  font-size: 18px;
  line-height: 26px;
}
.communication__info-item:nth-child(1) {
  margin-bottom: 33px;
}
.communication__info-item:nth-child(2) {
  margin-bottom: 32px;
}
@media screen and (min-width: 1400px) {
  .communication__info-item {
    width: 360px;
    margin: 0;
    margin-right: 30px;
  }
}

.com-main__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
  margin: 0;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .com-main__title {
    margin-bottom: 24px;
  }
}
.com-main__subtitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .com-main__subtitle {
    width: 462px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }
}
.com-main__text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .com-main__text {
    width: 461px;
    margin-right: 193px;
    margin-bottom: 39px;
  }
}
.com-main__btn {
  margin-bottom: 40px;
}

.audiences {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00a1c612;
}
@media screen and (min-width: 1400px) {
  .audiences {
    width: 1400px;
    margin: auto;
    padding: 108px 131px 110px 130px;
  }
}
.audiences__title {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 17px;
}
@media screen and (min-width: 1400px) {
  .audiences__title {
    margin-bottom: 24px;
  }
}
.audiences__subtitle {
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audiences__subtitle {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
    width: 555px;
  }
}
.audiences__text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audiences__text {
    margin-bottom: 34px;
    width: 555px;
  }
}
.audiences__btn {
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .audiences__btn {
    width: 400px;
    margin-bottom: 111px;
    text-align: center;
  }
}
.audiences__get-started {
  width: 100%;
  margin-bottom: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .audiences__get-started {
    width: 160px;
    margin-right: 10px;
  }
}
.audiences__learn-more {
  width: 100%;
  height: 48px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .audiences__learn-more {
    width: 160px;
  }
}
.audiences__categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .audiences__categories {
    flex-direction: row;
  }
}
.audiences__fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 290px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}
.audiences__fig:hover {
  color: #ffffff;
  background-color: #3141c5;
}
@media screen and (min-width: 1400px) {
  .audiences__fig {
    margin: 0;
    margin-right: 30px;
    width: 262px;
  }
}
.audiences__img {
  max-width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
}
.audiences__caption {
  text-align: center;
  margin-bottom: 33px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

.feedback {
  display: flex;
  flex-direction: column;
  padding: 39px 15px 50px 15px;
  border-bottom: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .feedback {
    margin: auto;
    width: 1400px;
    align-items: center;
    position: relative;
    padding: 0;
  }
}
.feedback__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #3142c6;
  margin-bottom: 29px;
}
@media screen and (min-width: 1400px) {
  .feedback__title {
    margin-bottom: 28px;
  }
}
.feedback__text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1400px) {
  .feedback__text {
    width: 750px;
    text-align: center;
    margin-bottom: 34px;
  }
}
.feedback__contact {
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
  }
}
.feedback__contact-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.feedback__contact-post {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}
.feedback__selector {
  display: flex;
  justify-content: space-between;
  width: 75px;
  margin: auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__selector {
    margin-bottom: 66px;
  }
}
.feedback__item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.2;
  background-color: #2b292d;
  cursor: pointer;
}
.feedback__item:hover {
  background-color: #3141c5;
  opacity: 1;
}
.feedback__item-selected {
  background-color: #3141c5;
  opacity: 1;
}
.feedback__img {
  max-width: 100%;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .feedback__img {
    position: absolute;
    bottom: 0;
    right: 26px;
  }
}

.hiring {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .hiring {
    padding: 106px 325px 110px 325px;
  }
}
.hiring__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .hiring__title {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 20px;
    height: 62px;
  }
}
.hiring__text {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .hiring__text {
    font-size: 24px;
    line-height: 34px;
    width: 555px;
    margin-bottom: 28px;
    height: 72px;
  }
}
.hiring__button {
  width: 100%;
  margin-bottom: 39px;
}
@media screen and (min-width: 1400px) {
  .hiring__button {
    width: 247px;
    height: 48px;
    margin-bottom: 110px;
  }
}

.vacancies {
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
}
.vacancies:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .vacancies {
    width: 750px;
    height: 81px;
    padding-left: 25px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .vacancies:hover {
    background-color: #3141c5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
    color: #ffffff;
  }
  .vacancies:hover .vacancies__img {
    background-image: url(img/arrow-right-alt.png);
  }
}
.vacancies__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1400px) {
  .vacancies__container {
    flex-direction: row;
    align-items: center;
  }
}
.vacancies__name {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  width: 200px;
  margin-top: 19px;
}
@media screen and (min-width: 1400px) {
  .vacancies__name {
    margin: 0;
    width: 408px;
  }
}
.vacancies__location {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.6;
  margin-bottom: 19px;
}
@media screen and (min-width: 1400px) {
  .vacancies__location {
    margin: 0;
  }
}
.vacancies__arrow-block {
  height: 100%;
  width: 50px;
  background: #d5d4d5;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .vacancies__arrow-block {
    background-color: transparent;
  }
}
.vacancies__img {
  width: 7px;
  height: 12px;
  background-image: url(img/arrow-right.png);
}

.order {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    width: 1400px;
    margin: auto;
    padding: 73px 228px 72px 224px;
    flex-direction: row;
    align-items: center;
  }
}
.order__img {
  max-width: 100%;
  margin-bottom: 40px;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .order__img {
    margin: 0;
    margin-right: 121px;
  }
}
.order__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    text-align: left;
    width: 100%;
  }
}
.order__text {
  font-size: 22px;
  line-height: 32px;
  height: 167px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-bottom: 26px;
    height: 64px;
  }
}
.order__reg-box {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .order__reg-box {
    flex-direction: row;
    width: 555px;
    margin-bottom: 10px;
  }
}
.order__input {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .order__input {
    width: 385px;
    margin: 0;
  }
}
.order__button {
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 1400px) {
  .order__button {
    width: 160px;
    margin: 0;
  }
}
.order__explanation {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .order__explanation {
    text-align: left;
    width: 100%;
  }
}
.order__link {
  font-size: 14px;
  line-height: 22px;
  color: #3142c6;
}

.footer {
  width: 100vw;
  padding: 40px 0 22px 0;
}
.footer__line-first {
  border-top: solid 1px #2b292d;
  width: 100%;
  margin: 0;
  height: 1px;
  opacity: 0.1;
}
.footer__line-second {
  display: none;
}
.footer__links {
  font-size: 14px;
  line-height: 22px;
  margin-left: 15px;
}
.footer__social-img {
  margin-right: 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo__image {
  margin-bottom: 20px;
}
.footer-logo__name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.footer-logo__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 31px;
}

.footer-info {
  display: none;
}

.footer-stores {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.footer-stores__pic {
  height: 40px;
}
.footer-stores__pic-first {
  margin-right: 10px;
}

.nav-links__title {
  margin: 30px 0 18px 15px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.nav-links__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.6;
  margin-left: 15px;
  margin-bottom: 30px;
}

.terms {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.terms__item {
  color: #2b292d;
  opacity: 0.6;
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  .footer {
    margin: auto;
    width: 1400px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .footer__line-first {
    display: none;
  }
  .footer__line-second {
    display: block;
    border-top: solid 1px #2b292d;
    width: 100%;
    margin: 0;
    height: 1px;
    opacity: 0.1;
  }
  .footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 50px;
    margin: auto;
  }
  .footer__links__img {
    margin-left: 20px;
    display: inline;
  }
  .footer__nav {
    width: 1140px;
    margin: 0 auto;
    display: flex;
  }

  .footer-logo {
    flex-grow: 1;
    display: flex;
    align-items: initial;
    flex-direction: row;
    height: 60px;
  }
  .footer-logo__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: initial;
  }
  .footer-logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .footer-logo__description {
    font-size: 18px;
    line-height: 25px;
    opacity: 0.6;
    text-align: initial;
    margin-bottom: 0;
  }
  .footer-logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .terms {
    margin-bottom: 0;
    height: 50px;
  }
  .terms__item {
    text-decoration: none;
    opacity: 0.6;
    font-size: 14px;
    line-height: 50px;
    margin-right: 22px;
  }

  .footer-info {
    font-size: 18px;
    color: #2b292d;
    line-height: 26px;
    width: 360px;
    height: 85px;
    margin-top: 26px;
    opacity: 0.6;
    display: inline-block;
    margin-right: 0;
  }

  .footer-stores {
    margin-top: 25px;
    display: block;
    margin-bottom: 59px;
  }
  .footer-stores__pic {
    margin-right: 10px;
  }

  .nav-links {
    width: 265px;
  }
  .nav-links__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: #2b292d;
  }
  .nav-links__list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #2b292d;
    font-size: 18px;
    line-height: 30px;
    margin-top: 18px;
  }

  .about-footer {
    margin-top: 43px;
  }

  .aditional-nav {
    height: 231px;
    margin-top: 60px;
    margin-left: 126px;
    display: flex;
  }
  .aditional-nav__column {
    margin-right: 29px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  margin: auto;
  color: #2b292d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
