* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    height: 3em;
    padding: 0 1em;
    background-color: #eee;
}

button {
    padding: 0;
    border: none;
    margin: 0;
    cursor: pointer;
    height: 48px;
}

i {
    font-size: 2em;
}

.fas {
    line-height: 48px;
}

.nav-list {
    padding: 0;
    list-style: none;
    visibility: hidden;
}

.navigation {
    width: 20vw;
    padding: .5em;
}

.nav-list-item {
    background-color: #808080;
    height: 2em;
    margin-bottom: .5em;
}

.nav-list-link {
    display: block;
    padding: .5em;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
    .nav-list {
        visibility: visible;
    }
    i {
        visibility: hidden;
    }
}