.d {
    border: solid 3px black;
    padding: 50px;
    background-color: aqua;
    margin-top: 50px;
    margin-bottom: 50px;
}

.d1 {
    border: solid 3px black;
    padding: 50px;
    background-color: aqua;
    margin-bottom: 50px;
}

.d2 {
    border: solid 3px black;
    padding: 50px;
    background-color: aqua;
    margin-top: 50px;
}