body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    width: 50vw;
    text-overflow: ellipsis;
    font-size: 74px;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
}

div {
    background-color: coral;
    height: 200px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
}