* {
    box-sizing: border-box;
}

td {
    width: 50px;
    height: 50px;
    border: black 1px solid;
}

table {
    border: solid black 1px;
    margin: 16px;
    border-collapse: collapse;
    text-align: center;
}

.firstline>td,
.tenthline>td {
    border: none;
}

.secondline>td:nth-child(odd) {
    background-color: black;
}

.secondline>td:nth-child(1) {
    background-color: white;
}

.thirdline>td {
    background-color: black;
}

.thirdline>td:nth-child(odd) {
    background-color: white;
}

.thirdline>td:nth-last-child(1) {
    background-color: white;
}

.fourhtline>td:nth-child(odd) {
    background-color: black;
}

.fourhtline>td:nth-child(1) {
    background-color: white;
}

.fifthline>td {
    background-color: black;
}

.fifthline>td:nth-child(odd) {
    background-color: white;
}

.fifthline>td:nth-last-child(1) {
    background-color: white;
}

.sixthline>td:nth-child(odd) {
    background-color: black;
}

.sixthline>td:nth-child(1) {
    background-color: white;
}

.seventhline>td {
    background-color: black;
}

.seventhline>td:nth-child(odd) {
    background-color: white;
}

.seventhline>td:nth-last-child(1) {
    background-color: white;
}

.eighthline>td:nth-child(odd) {
    background-color: black;
}

.eighthline>td:nth-child(1) {
    background-color: white;
}

.ninhtline>td {
    background-color: black;
}

.ninhtline>td:nth-child(odd) {
    background-color: white;
}

.ninhtline>td:nth-last-child(1) {
    background-color: white;
}

.secondline>td:nth-child(1),
.secondline>td:nth-last-child(1),
.thirdline>td:nth-child(1),
.thirdline>td:nth-last-child(1),
.fourhtline>td:nth-child(1),
.fourhtline>td:nth-last-child(1),
.fifthline>td:nth-child(1),
.fifthline>td:nth-last-child(1),
.sixthline>td:nth-child(1),
.sixthline>td:nth-last-child(1),
.seventhline>td:nth-child(1),
.seventhline>td:nth-last-child(1),
.eighthline>td:nth-child(1),
.eighthline>td:nth-last-child(1),
.ninhtline>td:nth-child(1),
.ninhtline>td:nth-last-child(1) {
    border-top: none;
    border-bottom: none;
}