.about {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #F4F5F7;
    padding: 77px 130px 76px 130px;
}

.article {
    width: 555px;
    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        margin: 0;
    }
    &__text {
        font-size: 22px;
        line-height: 32px;
        margin: 6px 0 0 0;
    }
}