.action-button {
  width: 160px;
  height: 48px;
  padding: 0;
  background-color: $button-color;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
