.headline {
    width: 1140px;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 84px;
    &__banner {
        width: 796px;
        height: 448px;
        top: 0;
        right: -105px;
        margin-left: auto;
        position: relative;
        margin-bottom: 77px;
    }
    &__title {
        font-weight: bold;
        font-size: 80px;
        line-height: 78px;
        letter-spacing: -0.5px;
        width: 754px;
        height: 165px;
        z-index: 1;
        margin: 0;
    }
    &__description {
        margin-top: 34px;
        height: 102px;
        width: 456px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 0;
    }
    &__btns {
        margin-top: 58px;
        display: flex;
    }
    &__learn-more-btn {
        width: 158px;
        height: 48px;
        margin-left: 10px;
        background-color: #FFFFFF;
        font-size: 18px;
        line-height: 13px;
        color: #3040C4;
        font-weight: 700;
        border-radius: 2px;
        border: none;
    }
}

.headline-container {
    position: absolute;
    z-index: 1;
}