@import "_common";
@import "_header";
@import "_headline";
@import "_footer";
@import "_about";
@import "_customers";
@import "_features-desktop";
@import "_features-mobile";
@import "_breakpoints";
@import "_inbox";
@import "_communication";
@import "_audiences";
@import "_feedback";
@import "_hiring";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100vw;
  // overflow-x: hidden;
  margin: auto;
  color: #2b292d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
