@import "variables.scss";
@import "breakpoints.scss";
@import "common.scss";
@import "header.scss";
@import "headline.scss";
@import "about.scss";
@import "customers.scss";
@import "features-mobile.scss";
@import "features-desktop.scss";
@import "inbox.scss";
@import "communication.scss";
@import "audience.scss";
@import "feedback.scss";
@import "hiring.scss";
@import "order.scss";
@import "footer.scss";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
  overflow-x: hidden;
}

.page {
  margin: auto;
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.top-section {
  background-color: $head-color;
  @include lg-screen {
    height: 710px;
  }
}
