$page-width: 1400px;
$button-color: #3040c4;
$text-color: #2b292d;
$hovered: #3141c5;
$com-title: #0189d1;
$features-title: #009b4d;
$head-color: #f3c6bd;
$inbox-title: #f1592b;
$inbox-container-border: #0185d0;
$text-color-gray: #2b292d99;
